{% extends "base.html" %}

{% block title %}Greeting{% endblock %}

{% block content %}
<div class="max-w-screen min-h-screen m-auto  bg-gradient-to-br
from-red-500/40 
via-yellow-500/40 
via-green-500/40 
to-blue-500/40 rounded-lg shadow-md p-6">
    <div class="text-center my-10 flex-col justify-center ">
        <p class="text-[4rem] font-bold ">Hello, {{ user.name }}!<br /> It's great to meet you.</p>

        <div class="button-group mt-[500px]">
            <a href="/" class="bg-black text-white px-4 py-2 rounded border border-gray-500 
            hover:bg-gray-700 hover:text-white hover:border-gray-700">Home</a>
            <a href="/all_users" class="border-2 border-black text-black px-4 py-2 rounded 
            hover:bg-black hover:text-white">Show All Users</a>
        </div>
    </div>
</div>
{% endblock %}